* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: linear-gradient(112deg, rgba(255, 15, 123, 1) 9%, rgba(248, 155, 41, 1) 100%);
}

/* Header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #ff6347 50%, #ff3366 100%);
    padding: 10px 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.header h1 a {
    margin-left: 100px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 36px;
    display: inline-block;
}

.header .nav a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 30px;
    display: inline-block;
    transition: transform 0.2s ease, color 0.2s ease;
    transform-origin: center;
}

.header .nav a:hover {
    transform: scale(1.2);
    color: #3BFF00;
}

.nav {
    margin-right: 100px;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 50px;
}

/* Projetos */

.hidden-text {
    opacity: 0;
    transform: translateX(-50%);
    filter: opacity(0);
    transition: all 1s;
}

.show-text {
    opacity: 1;
    transform: translateX(0%);
    filter: opacity(1);
    transition: all 1s;
}

.hidden-cards {
    width: 100%;
    opacity: 0;
    transform: translateX(-50%);
    filter: blur(0px);
    transition: all 1s;
}

.show-cards {
    opacity: 1;
    transform: translateX(0%);
    filter: blur(0px);
    transition: all 1s;
    transition-delay: 200ms;
}

.hidden-cards:nth-child(1) {
    transition-delay: 350ms;
}

.hidden-cards-3 {
    width: 100%;
    opacity: 0;
    transform: translateX(-50%);
    filter: blur(0px);
    transition: all 1s;
}

.show-cards-3 {
    opacity: 1;
    transform: translateX(0%);
    filter: blur(0px);
    transition: all 1s;
    transition-delay: 120ms;
}

.hidden-cards-3:nth-child(1) {
    transition-delay: 350ms;
}

.hidden-cards-3:nth-child(2) {
    transition-delay: 300ms;
}

.titulo {
    text-align: center;
    text-decoration: underline;
    font-size: 46px;
    margin-top: 5vh;
}

.titulo-1 {
    text-align: center;
    text-decoration: underline;
    font-size: 46px;
    margin-top: 14vh;
}

.container {
    gap: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.card-center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.card-center-3 {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.card {
    height: 65vh;
    margin: 5px;
    background: #FF0051;
    color: black;
    display: flex;
    align-items: center;
    border-radius: 15px;
    flex-direction: column;
}

.card img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.card .titulo-card {
    font-weight: 700;
    font-size: 26px;
    margin: 5px;
}

.card .descricao {
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
}

/* Footer */

footer {
    background-color: #ff007b4a;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

footer .texto-footer {
    font-size: 12px;
    line-height: 1.8rem;
    margin-inline: 75px;
    flex-direction: column;
}

.redes-sociais {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.redes {
    display: flex;
    align-items: center;
}

.redes a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.redes-sociais p {
    color: black;
    font-size: 12px;
    font-weight: 700;
}

.redes-sociais img {
    height: 25px;
}

.logos-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 15px;
    margin-inline-end: 75px;
}

#cps {
    width: 45px;
}

#etec {
    width: 50px;
}

#twitter {
    background-color: black;
    border-radius: 6px;
}