* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background: linear-gradient(112deg, rgba(255, 15, 123, 1) 9%, rgba(248, 155, 41, 1) 100%);
}

/* Header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #ff6347 50%, #ff3366 100%);
    padding: 20px 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.header h1 a {
    margin-left: 150px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 52px;
    display: inline-block;
}

.header .nav a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 40px;
    display: inline-block;
    transition: transform 0.2s ease, color 0.2s ease;
    transform-origin: center;
}

.header .nav a:hover {
    transform: scale(1.2);
    color: #3BFF00;
}

.nav {
    margin-right: 150px;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 60px;
}

/* Principal */

.hidden {
    opacity: 0;
    transform: translateY(10%);
    filter: blur(0px);
    transition: all 1s;
}

.hidden-2 {
    opacity: 0;
    transform: translateY(10%);
    filter: blur(0px);
    transition: all 1s;
}

.show {
    opacity: 1;
    transform: translateY(0%);
    filter: blur(0px);
    transition: all 1s;
}

.show-2 {
    opacity: 1;
    transform: translateY(0%);
    filter: blur(0px);
    transition: all 1s;
    transition-delay: 300ms;
}

main {
    width: 150vh;
    display: flex;
    background-color: transparent;
    margin: 0 auto;
    margin-top: 30vh;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-left: 15px;
    gap: 25px;
    width: 100%;
    border-radius: 25px 25px 25px 25px;
    background-color: #FF0051;
    box-shadow: 8px 10px 5px rgba(0, 0, 0, 0.6);
}

.apresentacao #nome {
    font-size: 40px;
    padding-bottom: 40px;
}

.apresentacao #idade {
    font-size: 34px;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 10px;

}

.logos {
    margin-left: 40px;
    display: flex;
    height: 140px;
    gap: 30px;
}

/* Biografia */

#bio {
    margin-top: 30vh;
    margin-inline: 120px;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 15vh;
}

/* Footer */

footer {
    background-color: #ff007b4a;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

footer .texto-footer {
    font-size: 20px;
    line-height: 2.8rem;
    margin-inline: 75px;
    flex-direction: column;
}

.redes-sociais {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.redes {
    display: flex;
    align-items: center;
}

.redes a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.redes-sociais p {
    color: black;
    font-size: 22px;
    font-weight: 700;
}

.redes-sociais img {
    height: 35px;
}

.logos-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 21px;
    margin-inline-end: 75px;
}

#cps {
    width: 95px;
}

#etec {
    width: 89px;
}

#twitter {
    background-color: black;
    border-radius: 6px;
}